<xf:radiorow name="{$inputName}[where]"
			 label="{$option.title}"
			 hint="{$hintHtml}"
			 explain="{$explainHtml}"
			 html="{$listedHtml}">

	<xf:option value="everywhere" selected="$option.option_value.where == 'everywhere'"
			   label="{{ phrase('everywhere') }}" hint="{{ phrase('Math_render_everywhere_hint') }}" />

	<xf:option value="places" selected="$option.option_value.where == 'places'"
			   label="{{ phrase('Math_in_certain_places') }}">

		<xf:checkbox>

			<xf:option name="{$inputName}[places][titles]" label="{{ phrase('Math_titles') }}"
					   checked="{$option.option_value.places.titles}" value=".p-title , .structItem-title, .contentRow-title, .node-extra-title, [data-widget-definition=new_posts] .contentRow-main a" />
			
			<xf:option name="{$inputName}[places][content]" label="{{ phrase('Math_places_content') }}"
					   checked="{$option.option_value.places.content}" value=".message-body, .tooltip-content, .contentRow-snippet, [data-widget-definition=new_profile_posts] .contentRow-faderContainer, .bbCodePreview-content" />
			
			<xf:option name="{$inputName}[places][pages]" label="{{ phrase('pages') }}"
					   checked="{$option.option_value.places.pages}" value="[data-template=help_page] .p-body-pageContent, [data-template=help_page] .p-title, .p-body-sideNavContent .blockLink, .template-help_page_list .dataList-row" />
			
			<xf:option name="{$inputName}[places][signatures]" label="{{ phrase('Math_signatures') }}"
					   checked="{$option.option_value.places.signatures}" value=".message-signature, [data-template=member_view] .block-row:contains({{ phrase('signature') }})" />
			
			<xf:option name="{$inputName}[places][about]" label="{{ phrase('about') }}"
					   checked="{$option.option_value.places.about}" value="[data-template=member_view] .block-row:first-of-type" />
			
		</xf:checkbox>

	</xf:option>

</xf:radiorow>