<script>
	const CMTV_MATH_RENDER_OPTIONS =
	{
		"delimiters":
		[
			{left: "[imath]", right: "[/imath]", display: false},
			{left: "[math]",  right: "[/math]", display: true}
		].concat({$xf.options.CMTV_Math_customMathDelimiters|raw}),

		"ignoredClasses": [].concat({$xf.options.CMTV_Math_ignoredClasses|raw}),

		"macros": {{ $xf.options.CMTV_Math_macros ? $xf.options.CMTV_Math_macros|raw : '{}' }}
	};
	
	(function ($, document)
	{
		$(document).on('xf:reinit', function (e)
		{
			renderMathInElement(document.body, CMTV_MATH_RENDER_OPTIONS);
		});
	})
	(jQuery, document);
</script>