<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
function markMathJaxElements()
{
	var elements = [''];

	<xf:if is="{{ $xf.options.Math_whereActive.where === 'everywhere' }}">
		$('body').addClass('mathjax-render');
		<xf:else />
		$('{{ $xf.options.Math_whereActive.places|join }}').addClass('mathjax-render');
		$('{{ $xf.options.Math_renderSelectors|join }}').addClass('mathjax-render');
	</xf:if>
	
	$('{{ $xf.options.Math_skipSelectors|join }}')
		.removeClass('mathjax-render')
		.addClass('mathjax-skip')
		.find('*').removeClass('mathjax-render');
	
	if($('.mathjax-render').length !== 0)
	{
		elements = $('.mathjax-render').get();
	}
		
	return elements;
}

MathJax.Hub.Config({
	<xf:if is="{{ !$xf.options.Math_showMathJaxMenu }}">showMathMenu: false,</xf:if>
    displayAlign: "{{ $xf.options.Math_displayMathAlign }}",
	<xf:if is="{{ !$xf.options.Math_showMathJaxMessages }}">messageStyle: "none",</xf:if>
	elements: markMathJaxElements(),
    tex2jax: {
        inlineMath: [ ['\\(','\\)'] ],
        displayMath: [ ['\\[','\\]'] ],
		processEscapes: true,
		processClass: 'mathjax-render',
        ignoreClass: 'bbCodeBlock|bbCodeInline|fr-box|mathjax-skip',
		skipTags: $('.message-signature').get()
    },
	CommonHTML: { linebreaks: { automatic: true } },
    "HTML-CSS": { linebreaks: { automatic: true }, imageFont: null },
    SVG: { linebreaks: { automatic: true } },
    TeX: {extensions: ['AMSmath.js', 'AMSsymbols.js']}
});
</script>

<xf:js src="Math/core.extend.js" addon="Math" />

<xf:if is="$xf.options.Math_MathJaxSource === 'local'">
	<script async src="{{ js_url('Math/MathJax/MathJax.js?config=default&locale=ru') }}"></script>
</xf:if>

<xf:if is="$xf.options.Math_MathJaxSource === 'cdnjs'">
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=default&locale=ru"></script>
</xf:if>